h1{
    text-align: center;
    background-color: aqua;
    color: black;
    margin: 50px 100px;
}

h2{
    text-align: center;
    background-color: aqua;
    color: black;
    margin: 50px 100px;
}